<div id="engineer-list">
<h3> {{page.dashBoard_contactUs}} </h3>
<table class="grid grid-pad">
  <thead>
        <tr>
        <th>{{page.dashBoard_id}}</th>
        <th>{{page.dashBoard_name}}</th>
        <th>{{page.dashBoard_email}}</th>
        <th>{{page.dashBoard_city}}</th>
        <th>{{page.dashBoard_building}}</th>
        <th>{{page.dashBoard_status}}</th>
        </tr>
    </thead>
  <tr *ngFor="let engineer of engineers" (click)="gotoContact(engineer)" >
    <td class="module hero">
      <h4>{{engineer.id}}</h4>
    </td>
    <td class="module hero">
      <h4>{{engineer.name}}</h4>
    </td>
    <td class="module hero">
      <h4>{{engineer.email}}</h4>
    </td>
    <td class="module hero">
      <h4>{{engineer.city}}</h4>
    </td>
    <td class="module hero">
      <h4>{{engineer.building}}</h4>
    </td>
    <td class="module hero">
      <h4>{{engineer.status}}</h4>
    </td>
  </tr>
</table>
</div>