<div *ngIf="hero">
  <div>
  <h2>{{hero.name}} {{page.heroDet_h1}}!</h2>
  </div>
  <div>
    <label>id: </label>{{hero.id}}
  </div>
  <div>
    <label>{{page.heroDet_category}} </label>
      <select class="form-control" name="sel" 
        [(ngModel)]="selectedCategory" 
        (ngModelChange)="updateCategory($event)">
        <option disabled value="0" class="hideoption">{{hero.category}}</option>
        <option *ngFor="let category of categories" [ngValue]="category">
        {{category.id}} - {{category.name}}
      </option>
      </select>
  </div>
  <div>
    <label>{{page.heroDet_area}}: </label>
      <select class="form-control" name="sel" 
        [(ngModel)]="selectedArea" 
        (ngModelChange)="updateArea($event)">
        <option disabled value="0" class="hideoption">{{hero.area}}</option>
        <option *ngFor="let area of areas" [ngValue]="area">
        {{area.id}} - {{area.name}}
      </option>
      </select>
  </div>
  <div>
    <label>{{page.heroDet_subarea}}: </label>
      <select class="form-control" name="sel" 
        [(ngModel)]="selectedSubArea" 
        (ngModelChange)="updateSubArea($event)">
        <option disabled value="0" class="hideoption">{{hero.subarea}}</option>
        <option *ngFor="let subarea of subareas" [ngValue]="subarea">
        {{subarea.id}} - {{subarea.name}}
      </option>
      </select>
  </div>
  <div>
    <label> {{page.heroDet_employee}}: </label>
    <input [(ngModel)]="hero.employee" placeholder="{{page.heroDet_employee}}" readonly="readonly"/>
  </div>
  <div>
    <label> {{page.heroDet_email}}: </label>
    <input [(ngModel)]="hero.email" placeholder="{{page.heroDet_email}}" readonly="readonly"/>
  </div>
  <div>
    <label> {{page.heroDet_name}}: </label>
    <input [(ngModel)]="hero.name" placeholder="{{page.heroDet_name}}" />
  </div>
   <div>
    <label> {{page.heroDet_assigneeid}}: </label>
    <input [(ngModel)]="hero.assigneeid" placeholder="{{page.heroDet_assigneeid}}" readonly="readonly" />
  </div>
  <div>
    <label> {{page.heroDet_assignee}}: </label>
    <input [(ngModel)]="hero.assignee" placeholder="{{page.heroDet_assignee}}" readonly="readonly" />
  </div>
  <div>
    <label> {{page.heroDet_reply}}: </label>
    <input [(ngModel)]="hero.reply" placeholder="{{page.heroDet_reply}}" readonly="readonly" />
  </div>
  <div>
    <label> {{page.heroDet_status}}: </label>
    <input [(ngModel)]="hero.status" placeholder="{{page.heroDet_status}}" readonly="readonly" />
  </div>
  <button (click)="goBack()"> {{page.heroDet_back}} </button>
  <button (click)="save()"> {{page.heroDet_save}} </button>
</div>
