<div *ngIf="hero">
  <h2>{{hero.name}}{{page.incident_h1}}!</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
  <div>
    <label> {{page.incident_employee}}: </label>
    <input [(ngModel)]="hero.employee" placeholder="employee" readonly="readonly"/>
  </div>
  <div>
    <label> {{page.incident_email}}: </label>
    <input [(ngModel)]="hero.email" placeholder="email" readonly="readonly"/>
  </div>
  <div>
    <label> {{page.incident_name}}: </label>
    <input [(ngModel)]="hero.name" placeholder="name" readonly="readonly"/>
  </div>
  <div>
    <label> {{page.incident_assignee1}}: </label>
      <select class="form-control" name="sel" 
        [(ngModel)]="selectedAssignee" 
        (ngModelChange)="updateAssignee($event)">
        <option disabled value="0" class="hideoption">{{hero.assigneeid}} - {{hero.assignee}}</option>
        <option *ngFor="let engineer of engineers" [ngValue]="engineer">
        {{engineer.id}} - {{engineer.name}}
      </option>
      </select>
  </div>
   <div>
    <label> {{page.incident_assigneeid}}: </label>
    <input [(ngModel)]="hero.assigneeid" placeholder="assigneeid" readonly="readonly" />
  </div>
  <div>
    <label> {{page.incident_assignee2}}: </label>
    <input [(ngModel)]="hero.assignee" placeholder="assignee" readonly="readonly" />
  </div>
  <div>
    <label> {{page.incident_reply}}: </label>
    <input [(ngModel)]="hero.reply" placeholder="reply" />
  </div>
  <div>
    <label> {{page.incident_status}}: </label>
    <select class="form-control" name="sel" 
        [(ngModel)]="selectedStatus" 
        (ngModelChange)="updateStatus($event)">
        <option disabled value="0" class="hideoption">{{hero.status}}</option>
        <option *ngFor="let status of statustype" [ngValue]="status">
        {{status.status}} - {{status.statuscode}}
      </option>
      </select>
  </div>
  <button (click)="goBack()"> {{page.incident_back}} </button>
  <button (click)="save()"> {{page.incident_save}} </button>
</div>
